.carry {
  display: block;
  position: fixed;
  top: 60px;
  left: 10px;
  z-index: 1000px;
}
.ansShow {
  position: fixed;
  display: block;
  font-size: 13pt;
  font-family: tahoma;
  background-color: #ffffff88;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  z-index: 1000px;
}
